<div class="col">
    <div class="card">
        <img src="<%=workout.map%>" class="card-img-top">
        <div class="card-body">

            <h5 class="card-title"><%= workout.name %></h5>
            <%if workout.user != current_user%>
                <p class="card-text">User: <%=workout.user.first_name%> <%=workout.user.last_name%></p>
            <%end%>
            <p class="card-text"><%= display_date(workout.date)%></p>
            <p class="card-text"><%=workout.type%> | <%= display_distance(workout.distance)%> Miles</p>
            <%= link_to "Go to Workout", workout_path(workout), class: "btn btn-primary"%> <p><%=form_with url: workout_path(workout), method: :patch do |f| %>
                    <%= f.hidden_field :stars, value: workout.stars%>
                    <%= f.hidden_field :workout_id, value: workout.id%>
                    <%=f.submit "â­ #{workout.stars}" %>
                  <%end%></p>
        </div>
    </div>
</div>
