<div class="workouts">
    Name: <%= workout.name%><br>
    Date: <%= workout.date%><br>
    Type: <%= workout.type%><br>
    Distance: <%= workout.distance%><br>
    <%= link_to "Go to Workout", workout_path(workout)%>
</div><br><br>