<div class="col">
    <div class="card">
        <img src="<%=workout.map%>" class="card-img-top">
        <div class="card-body">

            <h5 class="card-title"><%= workout.name %></h5>
            <p class="card-text"><%= display_date(workout.date)%></p>
            <p class="card-text"><%=workout.type%> | <%= display_distance(workout.distance)%> Miles</p>
            <%= link_to "Go to Workout", workout_path(workout), class: "btn btn-primary"%>
        </div>
    </div>
</div>
