<div class ="container text-center">
    <h1>New Workout</h1>
</div>

<div class ='container'>
    <%= form_for [@user, @workout] do |f| %>
        <%= render partial: "layouts/errors", locals: {record: @workout} %>
        
        <div class ="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %><br>
        </div>

        <div class ="form-group">
            <%= f.label :date %>
            <%= f.date_field :date, class: "form-control" %><br>
        </div>

        <div class ="form-group">
            <%= f.label :type %>
            <%= f.select :type, ['Ride', 'Run'], {prompt: 'Select One'}, class: "form-control" %><br>
        </div>

        <div class ="form-group">
            <%= f.label :distance_in_miles %>
            <%= f.number_field :distance, class: "form-control" %><br>
        </div>

        <div class ="form-group">
            <%= f.label :elapsed_time %>
            <%= f.number_field :elapsed_time, class: "form-control" %><br>
        </div>

        <div class ="form-group">
            <%= f.label :public %>
            <%= f.check_box :public %><br>
        </div>


        <h3>Segments:</h3><br>

        <%= f.fields_for :segments, @workout.segments.build do |segments_fields| %>
            
            <div class ="form-group">
            <%= label_tag :name %><br>
            <%= segments_fields.text_field :name, class: "form-control" %><br>
            </div>

            <div class = "form-group">
            <%= label_tag :distance_in_miles %><br>
            <%= segments_fields.number_field :distance, class: "form-control" %><br>
            <div>
        <% end %><br>

        <%= f.submit "Create Workout", class: "btn btn-primary"%>

    <% end %>
</div>