<div class = "text-center">
    <h1>Workout: <%=@workout.name%></h1>
    <% if @workout.user = current_user %>
        <%= link_to "Edit Workout", edit_workout_path(@workout)%> | <%= link_to "Delete Workout", @workout, method: :delete %>

    <%end%><br><br>

    <img src="<%=@workout.create_map%>" alt=""><br><br>
    <h2>Segments:</h2>
</div><br>





<div class = "container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <%= render partial: "/segments/segments", collection: @segments, as: "segment"%>
    </div>
</div>

